.dealt {
  height: 150px;
  length: 90px;
  margin: 15px;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

#hand {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

#dhand {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}

