.dealt {
  height: 150px;
  length: 90px;
  margin: 15px;
  display:flex;
  justify-content: center;
  align-items: flex-end;
}


#hand {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}


#dhand {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}


h1 {
  font-family: 'Tilt Neon', cursive;
text-align: center;
}

h2 {
  font-family: 'Tilt Neon', cursive;
}

p {
  font-family: 'Tilt Neon', cursive;
}